.box {
  background-color: #d9d9d9;
  bottom: 0;
  right: 0;
  display: flex;
  flex-flow: column;
  height: 290px;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  position: fixed;
  width: 240px;
}

.box-title {
  align-items: center;
  background-color: #0694ED;
  cursor: pointer;
  display: flex;
  height: 30px;
  justify-content: space-around;
  width: auto;
}

.box-title span {
  font-size: 14px;
  margin-left: 5px;
}

.messages {
  align-items: flex-start;
  display: flex;
  flex-flow: column;
  max-height: 210px;
  min-height: 210px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #212326;
}

.box-msg {
  background-color: #161719;
  height: 100%;
  width: 100%;
}

.box-txt {
  align-items: center;
  background-color: #141617;
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 240px;
  z-index: 999;
}

.msg {
  background-color: #141617;
  border: none;
  color: #ffffff;
  margin-left: 4px;
  width: 199px;
}

.send {
  cursor: pointer;
  height: 25px;
  width: 25px;
}
