 @import url('https://fonts.googleapis.com/css?family=Roboto');

.bubble {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  margin: 5px;
  max-width: 210px ;
  overflow-wrap: break-word;
  padding: 5px;
}

.bot-msg {
  background-color: #5e5e5e;
  align-self: flex-end;
}

.user-msg {
  background-color: #053b5d;
  padding-right: -40px;
}
