.topbar {
  background-color: #1A1F21;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
}

.bar {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

span {
  cursor: pointer;
}

.logo {
  padding-top: 20px;
  height: 90px;
  width: 90px;
}
