@media (max-width: 600px) {
  .table { }
}

.table {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.cardbox {
  border: 3px solid #1d2d34;
  background-color: #1A1F21;
  min-height: 290px;
  min-width: 290px;
  margin: 10px;
}

.h2 {
  font-family: monospace;
  font-size: 30px;
}
